attrs~=23.1.0
candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@v2.4.2
connexion==2.14.1
decorator==4.4.0
flask==2.2.5
pyyaml>=4.2b1
pytest==7.2.0
pytest-cov==2.7.1
requests-futures==1.0.0
swagger-ui-bundle==0.0.5
uwsgi==2.0.23
prometheus-flask-exporter==0.13.0
Flask-Cors==3.0.10
