aiohttp>=3.11.8
candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@v2.8.1
candigv2-logging@git+https://github.com/CanDIG/candigv2-logging.git@v1.0.1
connexion==3.1.0
connexion[swagger-ui]
connexion[flask]
decorator==4.4.0
Flask==3.1.0
prometheus-flask-exporter==0.13.0
Flask-Cors==5.0.0
requests-mock>=1.12.1
gunicorn>=23.0.0
uvicorn[standard]==0.30.6
pyyaml>=4.2b1
pytest==8.3.3
pytest-cov==2.7.1
